[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
solana_bomber = "4nfnBgARoobovwCnjj8jSzGXBNnvQpcvM2grR5CssCxf"

[programs.devnet]
solana_bomber = "97R9ZM4v9TRZS39cTEgQfr6Ur3N32YhKzcCYNozgqBX7"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
